n8n-workflows/demo-reset.json
{
  "name": "Demo-Reset",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "name": "Every 2 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        208,
        304
      ],
      "id": "cron"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Djc56C9eZXAdK3dYPan_9A2kFgKeQ8aruA7QOCXzQjw",
          "mode": "id",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Djc56C9eZXAdK3dYPan_9A2kFgKeQ8aruA7QOCXzQjw/edit",
          "cachedResultName": "user_vectors"
        },
        "sheetName": {
          "__rl": true,
          "value": "user_vectors",
          "mode": "name",
          "cachedResultName": "user_vectors"
        },
        "options": {}
      },
      "name": "Read Users",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        400,
        304
      ],
      "id": "read",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SUPqKuo2j3SCrHcz",
          "name": "Google Sheets 1"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nconst toReset = rows.filter(r => String(r.session_id || '').startsWith('demo_') && (String(r.matched_user_id || '').trim() !== '' || String(r.match_ended_at || '').trim() !== ''));\nreturn toReset.map(r => ({ json: { session_id: r.session_id, matched_user_id: '', match_timestamp: '', match_ended_at: '' } }));"
      },
      "name": "Filter Demo Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        304
      ],
      "id": "filt",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Djc56C9eZXAdK3dYPan_9A2kFgKeQ8aruA7QOCXzQjw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "user_vectors",
          "mode": "name",
          "cachedResultName": "user_vectors"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $json.session_id }}",
            "row_number": 0
          },
          "matchingColumns": [
            "session_id"
          ],
          "schema": [
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "initial_P",
              "displayName": "initial_P",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "initial_A",
              "displayName": "initial_A",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "final_P",
              "displayName": "final_P",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "final_A",
              "displayName": "final_A",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "final_D",
              "displayName": "final_D",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "match_mode",
              "displayName": "match_mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "matched_user_id",
              "displayName": "matched_user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "match_timestamp",
              "displayName": "match_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "match_ended_at",
              "displayName": "match_ended_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "round1_choice",
              "displayName": "round1_choice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "round1_p_delta",
              "displayName": "round1_p_delta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "round1_a_delta",
              "displayName": "round1_a_delta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "round2_choice",
              "displayName": "round2_choice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "round2_p_delta",
              "displayName": "round2_p_delta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "round2_a_delta",
              "displayName": "round2_a_delta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "round3_choice",
              "displayName": "round3_choice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "round3_p_delta",
              "displayName": "round3_p_delta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "round3_a_delta",
              "displayName": "round3_a_delta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "name": "Clear Match Fields",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        800,
        304
      ],
      "id": "clr",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SUPqKuo2j3SCrHcz",
          "name": "Google Sheets 1"
        }
      }
    }
  ],
  "connections": {
    "Every 2 min": {
      "main": [
        [
          {
            "node": "Read Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Users": {
      "main": [
        [
          {
            "node": "Filter Demo Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Demo Rows": {
      "main": [
        [
          {
            "node": "Clear Match Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}