n8n-workflows/emotion-intake.json
{
  "name": "1-Emotion-Intake",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "emotion-intake",
        "responseMode": "lastNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        208,
        304
      ],
      "id": "intake-webhook",
      "webhookId": "a906bd0e-d96c-4752-9a8f-9f0d1508c3e0"
    },
    {
      "parameters": {
        "jsCode": "const b = $input.first().json.body || $input.first().json;\n\nfunction num(v, d) {\n  const n = Number(v);\n  return Number.isFinite(n) ? n : d;\n}\n\nconst CITIES = {\n  'copenhagen':[55.6761,12.5683],'aarhus':[56.1629,10.2039],'odense':[55.4038,10.4024],\n  'stockholm':[59.3293,18.0686],'goteborg':[57.7089,11.9746],'gothenburg':[57.7089,11.9746],\n  'oslo':[59.9139,10.7522],'helsinki':[60.1699,24.9384],'reykjavik':[64.1466,-21.9426],\n  'berlin':[52.52,13.405],'hamburg':[53.5511,9.9937],'munich':[48.1351,11.582],'frankfurt':[50.1109,8.6821],\n  'amsterdam':[52.3676,4.9041],'rotterdam':[51.9244,4.4777],'brussels':[50.8503,4.3517],\n  'london':[51.5074,-0.1278],'manchester':[53.4808,-2.2426],'edinburgh':[55.9533,-3.1883],'dublin':[53.3498,-6.2603],\n  'paris':[48.8566,2.3522],'lyon':[45.764,4.8357],'marseille':[43.2965,5.3698],\n  'madrid':[40.4168,-3.7038],'barcelona':[41.3851,2.1734],'lisbon':[38.7223,-9.1393],'porto':[41.1579,-8.6291],\n  'rome':[41.9028,12.4964],'milan':[45.4642,9.19],'florence':[43.7696,11.2558],'naples':[40.8518,14.2681],\n  'vienna':[48.2082,16.3738],'zurich':[47.3769,8.5417],'geneva':[46.2044,6.1432],\n  'prague':[50.0755,14.4378],'warsaw':[52.2297,21.0122],'krakow':[50.0647,19.945],'budapest':[47.4979,19.0402],\n  'athens':[37.9838,23.7275],'istanbul':[41.0082,28.9784],'ankara':[39.9334,32.8597],\n  'moscow':[55.7558,37.6173],'saint petersburg':[59.9311,30.3609],'st petersburg':[59.9311,30.3609],\n  'new york':[40.7128,-74.006],'nyc':[40.7128,-74.006],'boston':[42.3601,-71.0589],\n  'washington':[38.9072,-77.0369],'chicago':[41.8781,-87.6298],'miami':[25.7617,-80.1918],\n  'los angeles':[34.0522,-118.2437],'la':[34.0522,-118.2437],'san francisco':[37.7749,-122.4194],'sf':[37.7749,-122.4194],\n  'seattle':[47.6062,-122.3321],'toronto':[43.6532,-79.3832],'montreal':[45.5017,-73.5673],'vancouver':[49.2827,-123.1207],\n  'mexico city':[19.4326,-99.1332],'sao paulo':[-23.5505,-46.6333],'rio de janeiro':[-22.9068,-43.1729],\n  'buenos aires':[-34.6037,-58.3816],'lima':[-12.0464,-77.0428],'bogota':[4.711,-74.0721],\n  'tokyo':[35.6762,139.6503],'osaka':[34.6937,135.5023],'kyoto':[35.0116,135.7681],\n  'seoul':[37.5665,126.978],'beijing':[39.9042,116.4074],'shanghai':[31.2304,121.4737],'hong kong':[22.3193,114.1694],\n  'taipei':[25.033,121.5654],'singapore':[1.3521,103.8198],'bangkok':[13.7563,100.5018],\n  'kuala lumpur':[3.139,101.6869],'jakarta':[-6.2088,106.8456],'manila':[14.5995,120.9842],\n  'mumbai':[19.076,72.8777],'delhi':[28.6139,77.209],'bangalore':[12.9716,77.5946],'chennai':[13.0827,80.2707],\n  'dubai':[25.2048,55.2708],'abu dhabi':[24.4539,54.3773],'tel aviv':[32.0853,34.7818],'jerusalem':[31.7683,35.2137],\n  'cairo':[30.0444,31.2357],'nairobi':[-1.2921,36.8219],'lagos':[6.5244,3.3792],'cape town':[-33.9249,18.4241],'johannesburg':[-26.2041,28.0473],\n  'sydney':[-33.8688,151.2093],'melbourne':[-37.8136,144.9631],'auckland':[-36.8485,174.7633],'wellington':[-41.2866,174.7756]\n};\nfunction geocode(name) {\n  if (!name) return { city: '', lat: '', lng: '' };\n  const key = String(name).toLowerCase().trim().replace(/[\\u2013\\u2014\\u2212]/g,'-').replace(/\\s+/g,' ');\n  const hit = CITIES[key];\n  const display = key.split(' ').map(w => w.charAt(0).toUpperCase() + w.slice(1)).join(' ');\n  if (hit) return { city: display, lat: hit[0], lng: hit[1] };\n  // Unknown city \u2014 keep the raw user input as label but leave lat/lng blank;\n  // Match-Feed will fall back to a hash hub for visualization.\n  return { city: String(name).trim().slice(0, 60), lat: '', lng: '' };\n}\n\n\nlet selections = Array.isArray(b.selections) ? b.selections.slice(0, 3) : [];\nif (selections.length === 0) {\n  const pD = Array.isArray(b.p_deltas) ? b.p_deltas : [];\n  const aD = Array.isArray(b.a_deltas) ? b.a_deltas : [];\n  const cs = Array.isArray(b.choices) ? b.choices : [];\n  for (let i = 0; i < 3; i++) {\n    selections.push({\n      round: i + 1,\n      choice: cs[i] || '',\n      p_delta: Number(pD[i]) || 0,\n      a_delta: Number(aD[i]) || 0\n    });\n  }\n}\nwhile (selections.length < 3) selections.push({ round: selections.length + 1, choice: '', p_delta: 0, a_delta: 0 });\n\nconst pDeltas = selections.map(s => Number(s.p_delta) || 0);\nconst aDeltas = selections.map(s => Number(s.a_delta) || 0);\nconst avg = arr => arr.length ? arr.reduce((s,x)=>s+x,0)/arr.length : 0;\n\nconst initial_P = num(b.initial_P, 0);\nconst initial_A = num(b.initial_A, 0);\nconst final_D = num(b.final_D, 0);\n\nconst final_P = +(initial_P + avg(pDeltas) * 0.5).toFixed(4);\nconst final_A = +(initial_A + avg(aDeltas) * 0.5).toFixed(4);\n\nconst rawMode = String(b.match_mode || 'echo').toLowerCase().trim();\nconst match_mode = (rawMode === 'healing') ? 'healing' : 'echo';\n\n// City: prefer explicit lat/lng from browser geolocation, else geocode the text.\nlet city = String(b.city || '').trim();\nlet lat = Number.isFinite(Number(b.lat)) ? +Number(b.lat).toFixed(4) : '';\nlet lng = Number.isFinite(Number(b.lng)) ? +Number(b.lng).toFixed(4) : '';\n// Treat (0,0) as \"geolocation failed / not provided\" — Null Island isn't a city.\nif (lat === 0 && lng === 0) { lat = ''; lng = ''; }\nif (city && (lat === '' || lng === '')) {\n  const g = geocode(city);\n  city = g.city || city;\n  if (lat === '') lat = g.lat;\n  if (lng === '') lng = g.lng;\n}\n\nconst row = {\n  session_id: String(b.session_id || ''),\n  timestamp: new Date().toISOString(),\n  initial_P,\n  initial_A,\n  final_P,\n  final_A,\n  final_D,\n  match_mode,\n  matched_user_id: '',\n  match_timestamp: '',\n  match_ended_at: '',\n  round1_choice: String(selections[0].choice || ''),\n  round1_p_delta: Number(selections[0].p_delta) || 0,\n  round1_a_delta: Number(selections[0].a_delta) || 0,\n  round2_choice: String(selections[1].choice || ''),\n  round2_p_delta: Number(selections[1].p_delta) || 0,\n  round2_a_delta: Number(selections[1].a_delta) || 0,\n  round3_choice: String(selections[2].choice || ''),\n  round3_p_delta: Number(selections[2].p_delta) || 0,\n  round3_a_delta: Number(selections[2].a_delta) || 0,\n  city,\n  lat,\n  lng\n};\n\nif (!row.session_id) {\n  throw new Error('session_id is required');\n}\n\nreturn [{ json: row }];\n"
      },
      "name": "Compute Vector",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        304
      ],
      "id": "compute-vector"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.lat }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Needs Geocode?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        600,
        300
      ],
      "id": "ifgeo"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.city }}",
        "options": {
          "systemMessage": "You are a geocoding service. The user gives a city name in any language, script, or casing. Respond with ONLY a single JSON object, no prose, no code fences, no comments:\n{\"city\":\"Canonical English name\",\"lat\":NUMBER,\"lng\":NUMBER}\nIf the input is not a recognizable populated place, respond with {\"city\":\"\",\"lat\":null,\"lng\":null}."
        }
      },
      "name": "Normalize City (GPT)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        850,
        200
      ],
      "id": "llmgeo"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list"
        },
        "options": {}
      },
      "name": "LM gpt-5-mini",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        850,
        400
      ],
      "id": "lm1",
      "credentials": {
        "openAiApi": {
          "id": "TCLXIBfS0vNSGyPJ",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = String($json.output || $json.text || '').trim();\nconst cleaned = raw.replace(/```json|```/g,'').trim();\nlet parsed = null;\ntry { parsed = JSON.parse(cleaned); } catch(e) {\n  const m = cleaned.match(/\\{[\\s\\S]*?\\}/);\n  if (m) { try { parsed = JSON.parse(m[0]); } catch(_) {} }\n}\nconst src = $('Compute Vector').first().json;\nconst row = { ...src };\nconst goodLat = parsed && parsed.lat != null && Number.isFinite(Number(parsed.lat)) ? Number(parsed.lat) : NaN;\nconst goodLng = parsed && parsed.lng != null && Number.isFinite(Number(parsed.lng)) ? Number(parsed.lng) : NaN;\nconst haveCoords = Number.isFinite(goodLat) && Number.isFinite(goodLng) && !(goodLat === 0 && goodLng === 0);\nif (haveCoords) {\n  row.city = String(parsed.city || src.city || '').trim();\n  row.lat = +goodLat.toFixed(4);\n  row.lng = +goodLng.toFixed(4);\n} else {\n  row.city = String(src.city || '').trim();\n  row.lat = '';\n  row.lng = '';\n}\nreturn [{ json: row }];\n"
      },
      "name": "Parse Geocode",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        200
      ],
      "id": "pg"
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "name": "Merge Geo",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1300,
        300
      ],
      "id": "mg"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Djc56C9eZXAdK3dYPan_9A2kFgKeQ8aruA7QOCXzQjw",
          "mode": "id",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Djc56C9eZXAdK3dYPan_9A2kFgKeQ8aruA7QOCXzQjw/edit",
          "cachedResultName": "user_vectors"
        },
        "sheetName": {
          "__rl": true,
          "value": "user_vectors",
          "mode": "name",
          "cachedResultName": "user_vectors"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "initial_P",
              "displayName": "initial_P",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "initial_A",
              "displayName": "initial_A",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "final_P",
              "displayName": "final_P",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "final_A",
              "displayName": "final_A",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "final_D",
              "displayName": "final_D",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "match_mode",
              "displayName": "match_mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "matched_user_id",
              "displayName": "matched_user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "match_timestamp",
              "displayName": "match_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "match_ended_at",
              "displayName": "match_ended_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "round1_choice",
              "displayName": "round1_choice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "round1_p_delta",
              "displayName": "round1_p_delta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "round1_a_delta",
              "displayName": "round1_a_delta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "round2_choice",
              "displayName": "round2_choice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "round2_p_delta",
              "displayName": "round2_p_delta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "round2_a_delta",
              "displayName": "round2_a_delta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "round3_choice",
              "displayName": "round3_choice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "round3_p_delta",
              "displayName": "round3_p_delta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "round3_a_delta",
              "displayName": "round3_a_delta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lat",
              "displayName": "lat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lng",
              "displayName": "lng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "name": "Append to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1500,
        300
      ],
      "id": "append-sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SUPqKuo2j3SCrHcz",
          "name": "Google Sheets 1"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const row = $input.first().json;\nreturn [{ json: { ok: true, session_id: row.session_id, final_P: row.final_P, final_A: row.final_A, final_D: row.final_D, match_mode: row.match_mode, city: row.city, lat: row.lat, lng: row.lng } }];"
      },
      "name": "Respond",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1700,
        300
      ],
      "id": "respond"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Compute Vector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Vector": {
      "main": [
        [
          {
            "node": "Needs Geocode?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Geocode?": {
      "main": [
        [
          {
            "node": "Normalize City (GPT)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Geo",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Normalize City (GPT)": {
      "main": [
        [
          {
            "node": "Parse Geocode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Geocode": {
      "main": [
        [
          {
            "node": "Merge Geo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LM gpt-5-mini": {
      "ai_languageModel": [
        [
          {
            "node": "Normalize City (GPT)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge Geo": {
      "main": [
        [
          {
            "node": "Append to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to Sheet": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}