n8n-workflows/match-end.json
{
  "name": "5-Match-End",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "match-end",
        "responseMode": "lastNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        208,
        304
      ],
      "id": "match-end-webhook",
      "webhookId": "21fbea15-e849-474b-93a4-2f17429c5a0f"
    },
    {
      "parameters": {
        "jsCode": "const b = $input.first().json.body || $input.first().json;\nconst session_id = String(b.session_id || '').trim();\nconst partner_session_id = String(b.partner_session_id || '').trim();\nif (!session_id || !partner_session_id) {\n  throw new Error('session_id and partner_session_id required');\n}\nconst ended_at = new Date().toISOString();\n// Only emit sheet updates. Chat-Poll reads user_vectors to detect ended state.\nreturn [\n  { json: { session_id, match_ended_at: ended_at } },\n  { json: { session_id: partner_session_id, match_ended_at: ended_at } }\n];\n"
      },
      "name": "Build Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        304
      ],
      "id": "build-rows"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Djc56C9eZXAdK3dYPan_9A2kFgKeQ8aruA7QOCXzQjw",
          "mode": "id",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Djc56C9eZXAdK3dYPan_9A2kFgKeQ8aruA7QOCXzQjw/edit",
          "cachedResultName": "user_vectors"
        },
        "sheetName": {
          "__rl": true,
          "value": "user_vectors",
          "mode": "name",
          "cachedResultName": "user_vectors"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "session_id"
          ],
          "value": {
            "session_id": "={{ $json.session_id }}",
            "match_ended_at": "={{ $json.match_ended_at }}"
          }
        },
        "options": {}
      },
      "name": "Update Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        704,
        304
      ],
      "id": "update-sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SUPqKuo2j3SCrHcz",
          "name": "Google Sheets 1"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ok: true } }];"
      },
      "name": "Respond",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        304
      ],
      "id": "respond"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Build Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Rows": {
      "main": [
        [
          {
            "node": "Update Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sheet": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}